<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net45" />
  <package id="EPPlus" version="4.5.3.2" targetFramework="net45" />
  <package id="Selenium.Support" version="4.0.0-alpha02" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="4.0.0-alpha02" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="76.0.3809.6801" targetFramework="net45" />
</packages>